.paragraf1 {
	background-color: orange;
	font-weight: bold;
}

.paragraf2 {
	background-color: blue;
	color: snow;
}

.paragraf3 {
	font-family: sans-serif;
	font-size: 25px;
}

.paragraf4 {
	font-weight: bold;
	background-color: gray;
}